h1 {
    background-color: cyan;
    width: 300px;
    height: 300px;
    border: 10px solid rgba(0, 112, 112, 0.473);
    /*padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;*/
    padding: 10px;
    /*outline-width: 5px;
    outline-style: dotted;
    outline-color: dodgerblue;*/
    outline: 5px dotted dodgerblue;
}

h1 span {
    display: block;
    font-size: 24px;
    margin-top: 150px;
}

a {
    border: 1px solid rgb(3, 117, 117);
    padding: 10px 10px 10px 10px;
}