* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2.titulo-principal {
    font-family: 'Android', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
}